name: Test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.12, 1.13, 1.14, 1.15, 1.16, 1.17, 1.18, 1.19]
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go-version }}
      env:
        GOPATH: ${{ env.HOME }}

    - name: Test
      run: make test

    - name: Test CLI
      run: cd unidecode && go run main.go kožušček
